@use '../../global/sass/mixins' as *;

:host {
  display: block;
}

.tk-currency-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-darkest);
  gap: var(--input-external-label-small-container-gap);

  .tk-currency-input-label {
    font-weight: var(--weight-medium);

    .tk-currency-input-label-title {
      color: var(--text-darkest);
    }

    .tk-currency-input-label-asterisk {
      color: var(--states-danger-base);
      font-size: var(--desktop-label-l-size);
      line-height: var(--line-height-xs-none);
    }
  }

  .tk-currency-input-wrapper {
    display: flex;
    align-items: center;
    gap: var(--input-external-label-small-container-gap);
    align-self: stretch;
    border-radius: var(--button-sizes-large-radius);
    border: var(--spacing-px) solid var(--border-light);
    background: var(--static-light);

    &:focus {
      border: var(--spacing-px) solid var(--states-info-base);
    }

    &:hover {
      background-color: var(--background-lightest);
    }
  }

  .tk-currency-input-input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: var(--text-sub-base);
    }
  }

  .tk-currency-input-dropdown {
    .tk-currency-input-dropdown-button {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      padding: 0;

      &:not([aria-disabled]) {
        cursor: pointer;
      }

      .tk-currency-input-dropdown-button-selected {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
        padding-left: var(--spacing-m-base);
        border-left: var(--spacing-px) solid var(--border-light);
      }
    }

    .tk-currency-input-dropdown-menu {
      position: fixed;
      z-index: 800;
      background: var(--static-light);
      border: var(--spacing-px) solid var(--border-light);
      border-radius: var(--button-sizes-large-radius);
      box-shadow: var(--effect-1-default-sm);
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .tk-currency-input-dropdown-menu-list {
        list-style: none;
        max-height: var(--spacing-56xl);
        overflow-y: auto;
        margin: 8px;
        @include takeoff-scrollbar;

        .tk-currency-input-dropdown-menu-list-item {
          display: flex;
          align-items: center;
          gap: var(--spacing-xs);
          padding: var(--input-external-label-base-input-v-padding) var(--spacing-4xl);
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: var(--background-lightest);
          }
        }
      }
    }
  }

  &[aria-invalid] {
    .tk-currency-input-wrapper {
      border-color: var(--states-danger-base);
    }
  }

  &[aria-disabled],
  &[aria-readonly] {
    pointer-events: none;
    .tk-currency-input-wrapper {
      background-color: var(--background-lightest);
    }

    .tk-currency-input-label-title,
    .tk-currency-input-label-asterisk,
    .tk-currency-input-dropdown-button {
      color: var(--text-sub-base);
    }
  }

  &[aria-disabled] {
    .tk-currency-input-input {
      color: var(--text-sub-base);
    }
  }

  &.tk-currency-input-container-large {
    .tk-currency-input-label {
      padding: var(--input-external-label-large-label-v-padding) var(--external-label-large-label-h-padding);

      .tk-currency-input-label-title {
        font-size: var(--desktop-body-m-size);
        line-height: var(--desktop-body-m-line-height);
      }
    }

    .tk-currency-input-wrapper {
      padding: var(--input-external-label-large-input-v-padding) var(--input-external-label-large-input-h-padding);
      gap: var(--input-external-label-large-input-gap);

      .tk-currency-input-input,
      .tk-currency-input-dropdown-button,
      .tk-currency-input-dropdown-menu-list-item {
        font-size: var(--desktop-body-m-size);
        line-height: var(--desktop-body-m-line-height);
      }
    }
  }

  &.tk-currency-input-container-base {
    .tk-currency-input-label {
      padding: var(--input-external-label-base-label-v-padding) var(--input-external-label-base-label-h-padding);

      .tk-currency-input-label-title {
        font-size: var(--desktop-body-s-size);
        line-height: var(--desktop-body-s-line-height);
      }
    }

    .tk-currency-input-wrapper {
      padding: var(--input-external-label-base-input-v-padding) var(--input-external-label-base-input-h-padding);
      gap: var(--input-external-label-base-input-gap);

      .tk-currency-input-input,
      .tk-currency-input-dropdown-button,
      .tk-currency-input-dropdown-menu-list-item {
        font-size: var(--desktop-body-s-size);
        line-height: var(--desktop-body-s-line-height);
      }
    }
  }

  &.tk-currency-input-container-small {
    .tk-currency-input-label {
      padding: var(--input-external-label-small-label-v-padding) var(--input-external-label-small-label-h-padding);
      .tk-currency-input-label-title {
        font-size: var(--desktop-body-xs-size);
        line-height: var(--desktop-line-height-xs-normal);
      }
    }

    .tk-currency-input-wrapper {
      padding: var(--input-external-label-small-input-v-padding) var(--input-external-label-small-input-h-padding);
      gap: var(--input-external-label-small-input-gap);

      .tk-currency-input-input,
      .tk-currency-input-dropdown-button,
      .tk-currency-input-dropdown-menu-list-item {
        font-size: var(--desktop-body-xs-size);
        line-height: var(--desktop-line-height-xs-normal);
      }
    }
  }
}
