@use '../../global/sass/mixins' as *;

tk-select {
  display: block;
}

.tk-select-container {
  .tk-select-panel {
    position: fixed;
    max-height: 320px;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid var(--border-light);
    background: var(--static-light);
    z-index: 800;
    box-shadow: var(--effect-1-default-sm);
    font-family: var(--family-body);

    .dropdown-item-holder {
      margin: 8px;
      padding: 1px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 6px;
      @include takeoff-scrollbar;

      .dropdown-item-top {
        position: sticky;
        top: 0;
        z-index: 1;
      }

      .dropdown-group {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .dropdown-group-label {
          display: flex;
          align-items: center;
          gap: 16px;
          color: var(--text-dark);
          font-size: var(--desktop-body-xs-size);
          padding: 0px 8px;

          label {
            white-space: nowrap;
          }

          .line {
            width: 100%;
            height: 1px;
            background-color: var(--background-light);
          }
        }
      }
      .dropdown-item {
        color: var(--text-darkest);
        border-radius: 8px;
        padding: var(--dropdown-items-basic-base-v-padding) var(--dropdown-items-basic-base-h-padding, 8px);

        &.multiple {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .multiple-option-content {
          flex: 1;
        }

        &[data-selected='true'] {
          cursor: pointer;
          background: var(--states-info-lightest);
          outline: 1px solid var(--states-info-light);
        }
        &.disabled {
          pointer-events: none;
          cursor: not-allowed;
          background: var(--background-lightest);
          color: var(--text-sub-base);
          outline: none;
        }
        &:hover {
          cursor: pointer;
          background: var(--background-lightest);
        }
        &[data-active='true'] {
          cursor: pointer;
          outline: 1px solid var(--background-light);
        }
      }
    }
  }

  &.large {
    .dropdown-item-holder {
      max-height: 272px;
      .dropdown-item {
        font-size: var(--desktop-body-m-base-size);
      }
      tk-spinner {
        min-height: 48px;
      }
    }
  }

  &.base {
    .dropdown-item-holder {
      max-height: 254px;
      .dropdown-item {
        font-size: var(--desktop-body-s-size);
      }
      tk-spinner {
        min-height: 38px;
      }
    }
  }

  &.small {
    .dropdown-item-holder {
      max-height: 236px;
      .dropdown-item {
        font-size: var(--desktop-body-xs-size);
      }
      tk-spinner {
        min-height: 28px;
      }
    }
  }
}
