.tk-accordion-item {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  transition: gap 0.2s ease-in-out;
  gap: 0;

  &.open {
    gap: var(--accordion-large-gap);
  }

  .header {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text-darkest);
    border-radius: var(--accordion-base-radius);
    padding: var(--accordion-base-v-padding) var(--accordion-base-h-padding);

    &:hover {
      background: var(--background-lightest) !important;
    }

    .tk-accordion-item-icon-collapse {
      color: var(--primary-base);
    }

    &:has(.tk-accordion-item-icon) {
      gap: var(--accordion-base-gap);
    }
  }

  .title {
    flex-grow: 1;
  }

  .icon {
    display: contents;
  }

  .content {
    color: var(--text-dark);
    max-height: 0;
    overflow: hidden;
    font-weight: 300;

    &.open {
      max-height: 100%;
    }
  }

  &.grouped {
    border-radius: var(--accordion-base-radius);
    border: 1px solid var(--border-light);
    background: var(--static-light);

    &:hover {
      background: var(--background-lightest);
    }

    &.open {
      .header {
        padding-bottom: 0;
      }
    }

    .content.open {
      padding: 0 var(--accordion-base-v-padding) var(--accordion-base-h-padding);
    }
  }

  &.divided {
    .header {
      border: 1px solid var(--border-light);
      background: var(--static-light);
    }

    .content.open {
      padding: var(--accordion-base-v-padding) var(--accordion-base-h-padding);
      border-radius: var(--accordion-base-radius);
      border: 1px solid var(--border-light);
      background: var(--background-lightest);
    }
  }

  &.base {
    .header {
      font-size: var(--desktop-body-s-size);
      line-height: var(--desktop-body-s-line-height);
    }
    .content {
      font-size: var(--desktop-body-xs-size);
      line-height: var(--desktop-body-xs-line-height);
    }
  }

  &.large {
    .header {
      font-size: var(--desktop-body-m-size);
      line-height: var(--desktop-body-m-line-height);
    }
    .content {
      font-size: var(--desktop-body-s-size);
      line-height: var(--desktop-body-s-line-height);
    }
  }

  &.compact {
    margin: 0;
    border-radius: 0;
    border-bottom: 0;

    &.divided {
      gap: 0;
      .header,
      .content {
        border-radius: 0;
        border-bottom: 0;
      }
    }
  }
}

:host(:last-of-type) {
  .tk-accordion-item.compact {
    &.grouped,
    &.divided:not(.open) .header,
    &.divided .content.open {
      border-bottom: 1px solid var(--border-light);
    }
  }
}
