:host {
  display: flex;
  width: 100%;
}

.tk-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  border: 0px;
  padding: var(--button-sizes-large-v-padding) var(--button-sizes-base-h-padding);
  gap: var(--button-sizes-base-gap);
  cursor: pointer;
  border-radius: var(--button-sizes-base-radius);

  background-color: transparent;

  &.selected {
    box-shadow:
      0 2px 2px -1px var(--shadow-black-alpha-base, rgba(82, 88, 102, 0.08)),
      0 6px 12px -2px var(--shadow-black-alpha-base, rgba(82, 88, 102, 0.08)),
      0 8px 20px 0 var(--shadow-black-alpha-base, rgba(82, 88, 102, 0.08));
  }
  &.neutral {
    &.filled {
      &.selected {
        background-color: var(--background-darkest);
      }
    }

    &.outlined {
      &.selected {
        background-color: var(--background-lightest);
        border: 1px solid var(--border-sub-base);
      }
    }

    &.text {
      &.selected {
        background-color: var(--static-light);
      }
    }

    &.raised {
      &.selected {
        background-color: var(--background-darkest);
        border: 1px solid var(--static-black);
      }
    }

    &.filled-light {
      &.selected {
        background-color: var(--background-light);
      }
    }

    &.filled.selected,
    &.raised.selected {
      .tk-toggle-button-label {
        color: var(--text-lightest);
      }
    }

    &.outlined.selected,
    &.text.selected,
    &.filled-light.selected {
      .tk-toggle-button-label {
        color: var(--background-darkest);
      }
    }
  }

  &.primary {
    &.filled {
      &.selected {
        background-color: var(--primary-base);
      }
    }

    &.outlined {
      &.selected {
        background-color: var(--background-lightest);
        border: 1px solid var(--primary-sub-base);
      }
    }

    &.text {
      &.selected {
        background-color: var(--static-light);
      }
    }

    &.raised {
      &.selected {
        background-color: var(--primary-base);
        border: 1px solid var(--primary-sub-base);
      }
    }

    &.filled-light {
      &.selected {
        background-color: var(--primary-lightest);
      }
    }

    &.filled.selected,
    &.raised.selected {
      .tk-toggle-button-label {
        color: var(--static-white);
      }
    }

    &.outlined.selected,
    &.text.selected,
    &.filled-light.selected {
      .tk-toggle-button-label {
        color: var(--primary-base);
      }
    }
  }

  .tk-toggle-button-label {
    color: var(--text-base);
    font-family: var(--desktop-body-m-base-font);
    font-weight: 400;
    font-style: normal;

    &.large {
      line-height: var(--desktop-label-l-line-height);
      font-size: var(--desktop-label-l-size);
    }

    &.base {
      line-height: var(--desktop-label-m-base-line-height);
      font-size: var(--desktop-label-m-base-size);
    }

    &.small {
      line-height: var(--desktop-label-s-line-height);
      font-size: var(--desktop-label-s-size);
    }
  }

  &.small {
    height: 0px;
    padding: var(--button-sizes-large-v-padding) var(--button-sizes-small-h-padding);
  }

  &.base {
    height: 8px;
  }

  &.large {
    height: 16px;
    padding: var(--button-sizes-large-v-padding) var(--button-sizes-large-h-padding);
    gap: var(--button-sizes-large-gap);
  }

  &.rounded {
    border-radius: 999px;
  }

  &:hover {
    .tk-toggle-button-label,
    tk-icon i {
      color: var(--text-darkest);
    }
  }
  &.disabled {
    pointer-events: none;
    user-select: none;
    .tk-toggle-button-label {
      color: var(--text-sub-base);
    }
  }
}
