tk-pagination {
  display: block;
}

.tk-pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .tk-pagination-start {
    margin-right: auto;
  }

  .tk-pagination-end {
    margin-left: auto;
    display: flex;
    gap: 14px;
  }

  .tk-pagination-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--pagination-base-tag-gap);

    .tk-pagination-tag-label {
      color: var(--text-base);
      /* Body/X-Small-12 */
      font-family: var(--desktop-body-xs-font, Geologica);
      font-size: var(--desktop-body-xs-size);
      font-style: normal;
      font-weight: var(--weight-regular);
      line-height: var(--desktop-body-xs-line-height);
      /* 150% */
    }
  }

  .tk-pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--pagination-base-gap);

    .tk-pagination-prev-actions,
    .tk-pagination-next-actions {
      display: flex;
      align-items: center;
      gap: var(--pagination-base-arrow-gap);
    }

    .tk-pagination-cell {
      display: flex;
      height: 32px;
      padding: 8px 12px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: none;
      border: none;
      cursor: pointer;

      .tk-pagination-page-label {
        color: var(--text-darkest);
      }

      .tk-pagination-cell-icon i {
        font-size: 20px;
        width: 20px;
        height: 20px;
        color: var(--icon-base);
      }

      &:hover:not(:disabled) {
        background: var(--background-lightest);
      }

      &:focus-visible {
        border: var(--spacing-px) solid var(--states-info-base);
      }

      &:disabled {
        .tk-pagination-page-label,
        .tk-pagination-cell-icon i{
          color: var(--text-sub-base);
        }
      }
    }

    &.tk-pagination-rounded {
      &:not(.tk-pagination-compact-expanded) {
        .tk-pagination-page {
          border-radius: var(--radius-full);
        }
      }
    }

    &.tk-pagination-outlined {
      .tk-pagination-page {
        border: var(--spacing-px) solid var(--border-light);
      }
    }

    &.tk-pagination-grouped {
      display: inline-flex;
      align-items: center;
      padding: var(--pagination-base-container-v-padding) 0px;
      border-radius: 8px;
      border: var(--spacing-px) solid var(--border-light);
      background: var(--static-light);
      overflow: hidden;

      .tk-pagination-divider {
        width: 1px;
        height: 16px;
        background-color: var(--border-light);
      }
    }

    &.tk-pagination-compact {
      .tk-pagination-cell {
        width: 36px;
        height: 36px;
      }

      .tk-pagination-current-label {
        color: var(--text-base);

        /* Body/Small-14 */
        font-family: var(--desktop-body-s-font, Geologica);
        font-size: var(--desktop-body-s-size);
        font-style: normal;
        font-weight: var(--weight-regular);
        line-height: var(--desktop-body-s-line-height);
        /* 142.857% */
      }

      .tk-pagination-first,
      .tk-pagination-prev,
      .tk-pagination-next,
      .tk-pagination-last {
        border: var(--spacing-px) solid var(--border-light);
      }

      &.tk-pagination-rounded {
        .tk-pagination-first,
        .tk-pagination-prev,
        .tk-pagination-next,
        .tk-pagination-last {
          border-radius: var(--radius-full);
        }
      }

      tk-input {
        width: 48px;
        height: 40px;
      }
    }

    .tk-pagination-page {
      &.tk-pagination-page-active {
        border: var(--spacing-px) solid var(--states-info-sub-base);
        background: var(--background-lightest);
      }
    }

    .tk-pagination-last,
    .tk-pagination-prev,
    .tk-pagination-page,
    .tk-pagination-next,
    .tk-pagination-first {
      &:focus-visible {
        border: var(--spacing-px) solid var(--states-info-base);
        outline: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .tk-pagination-container {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;

    .tk-pagination-start {
      display: none;
    }

    .tk-pagination,
    .tk-pagination-end {
      width: 100%;
      justify-content: center;
    }
  }
}
