.tk-spin-container {
  --spinner-size: 32px;
  --spinner-stroke-width: 5.33px;
  --spinner-dot-size: 6px;
  --spinner-corner-offset: calc(var(--spinner-size) / 10);
  --spinner-track-color: var(--background-light);
  --spinner-active-color: var(--background-darkest);
  --spinner-label-color: var(--text-sub-base);
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-rounded,
  .spinner-dots,
  .spinner-lines,
  .spinner-pulse,
  .spinner-three-dots,
  .spinner-loader,
  .spinner-logo {
    display: flex;
    width: var(--spinner-size);
    height: var(--spinner-size);
  }

  .dot,
  .dot1,
  .dot2,
  .dot3 {
    width: var(--spinner-dot-size);
    height: var(--spinner-dot-size);
  }

  .line {
    width: calc(var(--spinner-stroke-width) / 2);
    height: calc(var(--spinner-size) / 4);
  }

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.xxsmall {
    --spinner-size: 16px;
    --spinner-stroke-width: 2.67px;
    --spinner-dot-size: 3px;
  }

  &.xsmall {
    --spinner-size: 20px;
    --spinner-stroke-width: 3.33px;
    --spinner-dot-size: 4px;
  }

  &.small {
    --spinner-size: 24px;
    --spinner-stroke-width: 4px;
    --spinner-dot-size: 5px;
  }

  &.base {
    --spinner-size: 32px;
    --spinner-stroke-width: 5.33px;
    --spinner-dot-size: 6px;
  }

  &.large {
    --spinner-size: 40px;
    --spinner-stroke-width: 6.67px;
    --spinner-dot-size: 7px;
  }

  &.xlarge {
    --spinner-size: 48px;
    --spinner-stroke-width: 8px;
    --spinner-dot-size: 8px;
  }

  &.primary {
    --spinner-track-color: var(--primary-light);
    --spinner-active-color: var(--primary-dark);
    --spinner-label-color: var(--primary-base);
  }

  &.neutral {
    --spinner-track-color: var(--background-light);
    --spinner-active-color: var(--background-darkest);
    --spinner-label-color: var(--text-sub-base);
  }

  &.info {
    --spinner-track-color: var(--states-info-light);
    --spinner-active-color: var(--states-info-dark);
    --spinner-label-color: var(--states-info-base);
  }

  &.success {
    --spinner-track-color: var(--states-success-light);
    --spinner-active-color: var(--states-success-dark);
    --spinner-label-color: var(--states-success-base);
  }

  &.warning {
    --spinner-track-color: var(--states-warning-light);
    --spinner-active-color: var(--states-warning-dark);
    --spinner-label-color: var(--states-warning-base);
  }

  &.danger {
    --spinner-track-color: var(--states-danger-light);
    --spinner-active-color: var(--states-danger-dark);
    --spinner-label-color: var(--states-danger-base);
  }
}

.tk-spinner-label {
  font-size: var(--desktop-body-s-size);
  color: var(--spinner-label-color);
  font-family: var(--family-body);
}

.vertical .tk-spinner-label {
  margin-top: 4px;
  margin-left: 0;
}

.horizontal .tk-spinner-label {
  margin-top: 0;
  margin-left: 4px;
}

/* --------------------------------------------------- SPINNER ROUNDED ----------------------------------------------------- */

.spinner-rounded {
  border: var(--spinner-stroke-width) solid var(--spinner-track-color);
  border-top: var(--spinner-stroke-width) solid var(--spinner-active-color);
  border-radius: 50%;
  animation: rounded-animation 1s linear infinite;
  box-sizing: border-box;
}

/* --------------------------------------------------- SPINNER DOTS ----------------------------------------------------- */
.spinner-dots {
  position: relative;
  align-items: center;
  justify-content: center;
}

.spinner-dots .dot {
  position: absolute;
  background-color: var(--spinner-active-color);
  border-radius: 50%;
  animation: dots-animation 1.2s linear infinite;
}

.spinner-dots .dot:nth-child(1) {
  top: -12%;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: -1.1s;
}
.spinner-dots .dot:nth-child(2) {
  top: 14%;
  left: 85%;
  transform: translate(-50%, -50%);
  animation-delay: -1s;
}
.spinner-dots .dot:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  animation-delay: -0.9s;
}
.spinner-dots .dot:nth-child(4) {
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  animation-delay: -0.8s;
}
.spinner-dots .dot:nth-child(5) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: -0.7s;
}
.spinner-dots .dot:nth-child(6) {
  top: 85%;
  left: 14%;
  transform: translate(-50%, -50%);
  animation-delay: -0.6s;
}
.spinner-dots .dot:nth-child(7) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  animation-delay: -0.5s;
}
.spinner-dots .dot:nth-child(8) {
  top: 14%;
  left: 14%;
  transform: translate(-50%, -50%);
  animation-delay: -0.4s;
}

/* ------------------------------------------------ SPINNER LINES -------------------------------------------------------- */

.spinner-lines {
  position: relative;
  align-items: center;
  justify-content: center;
}

.spinner-lines .line {
  position: absolute;
  background-color: var(--spinner-active-color);
  border-radius: 2px;
  animation: lines-animation 1.2s linear infinite;
}

.spinner-lines .line:nth-child(1) {
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: -1.1s;
}
.spinner-lines .line:nth-child(2) {
  top: 14%;
  left: 85%;
  transform: translate(-50%, -50%) rotate(45deg);
  animation-delay: -1s;
}
.spinner-lines .line:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(90deg);
  animation-delay: -0.9s;
}
.spinner-lines .line:nth-child(4) {
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%) rotate(135deg);
  animation-delay: -0.8s;
}
.spinner-lines .line:nth-child(5) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  animation-delay: -0.7s;
}
.spinner-lines .line:nth-child(6) {
  top: 85%;
  left: 14%;
  transform: translate(-50%, -50%) rotate(225deg);
  animation-delay: -0.6s;
}
.spinner-lines .line:nth-child(7) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(270deg);
  animation-delay: -0.5s;
}
.spinner-lines .line:nth-child(8) {
  top: 14%;
  left: 14%;
  transform: translate(-50%, -50%) rotate(315deg);
  animation-delay: -0.4s;
}

/* ---------------------------------------------- SPINNER PULSE ----------------------------------------------------- */

.spinner-pulse {
  border-radius: 50%;
  background-color: var(--spinner-active-color);
  animation: pulse-animation 1.5s infinite;
}

/* ---------------------------------------------- SPINNER THREE DOTS ------------------------------------------------- */

/* SPINNER THREE DOTS */
.spinner-three-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-three-dots .dot1,
.spinner-three-dots .dot2,
.spinner-three-dots .dot3 {
  background-color: var(--spinner-active-color);
  border-radius: 50%;
  margin: 1px;
  animation: three-dots-animation 1.2s infinite ease-in-out;
}

.spinner-three-dots .dot1 {
  animation-delay: -0.45s;
}

.spinner-three-dots .dot2 {
  animation-delay: -0.3s;
}

.spinner-three-dots .dot3 {
  animation-delay: -0.15s;
}

.spinner-loader {
  border: var(--spinner-stroke-width) solid transparent;
  border-top: var(--spinner-stroke-width) solid var(--spinner-active-color);
  border-radius: 50%;
  animation: loader-animation 1s linear infinite;
}

.spinner-logo {
  animation: logo-animation 1s steps(4) infinite;

  path {
    fill: var(--spinner-active-color);
  }
}

/* ----------- ANIMATIONS/KEYFRAMES ------------ */

@keyframes rounded-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dots-animation {
  0%,
  20% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes lines-animation {
  0%,
  20% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(calc(var(--spinner-stroke-width) / var(--spinner-size)));
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes three-dots-animation {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes logo-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
