@use '../../global/sass/mixins' as *;

:host {
  display: block;
}

.tk-breadcrumb {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  @include takeoff-scrollbar;

  .tk-breadcrumb-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: var(--breadcrumb-container-gap);

    .tk-breadcrumb-separator {
      display: flex;
      width: var(--breadcrumb-symbol-size);
      height: var(--breadcrumb-symbol-size);
      justify-content: center;
      align-items: center;

      .tk-breadcrumb-dot-separator {
        &::before {
          content: '•';
        }
      }

      .tk-breadcrumb-slash-separator {
        &::before {
          content: '/';
        }
      }

      .tk-breadcrumb-vertical-separator {
        &::before {
          content: '|';
        }
      }
    }
  }
}
