:host {
  display: inline-block;
}

.tk-avatar-container {
  position: relative;
}

:has(.tk-avatar-badge) {
  .tk-avatar {
    box-shadow: var(--effect-1-default-sm);
  }
}

.tk-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--static-light);
  border-radius: var(--radius-s);
  flex-shrink: 0;
  gap: var(--spacing-l);

  .tk-avatar-label {
    font-family: var(--desktop-title-h5-font, Geologica);
    /* Title/H5-24 */
    font-style: normal;
    font-weight: var(--weight-regular);
    line-height: var(--desktop-title-h5-line-height);
    /* 125% */
  }

  >svg {
    display: block;
    fill: currentColor;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }

  &.tk-avatar-rounded {
    border-radius: var(--radius-full);

    .tk-avatar-image {
      border-radius: var(--radius-full);
    }
  }
}

.tk-avatar-image {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.tk-avatar-xlarge {
  .tk-avatar {
    width: var(--spacing-16xl);
    height: var(--spacing-16xl);
    border: 2px solid var(--static-light);

    .tk-avatar-label {
      font-size: var(--desktop-title-h5-size);
    }

    >svg {
      transform: translateY(12px);
    }
  }

  .tk-avatar-badge {
    width: var(--size-lg);
    height: var(--size-lg);
  }
}

.tk-avatar-large {
  .tk-avatar {
    width: var(--size-5xl);
    height: var(--size-5xl);
    border: 2px solid var(--static-light);

    .tk-avatar-label {
      font-size: var(--desktop-title-h6-size);
    }

    >svg {
      transform: translateY(10px);
    }
  }

  .tk-avatar-badge {
    width: var(--size-sm);
    height: var(--size-sm);
  }
}

.tk-avatar-base {
  .tk-avatar {
    width: var(--size-3xl);
    height: var(--size-3xl);

    .tk-avatar-label {
      font-size: var(--desktop-body-m-base-size);
    }

    >svg {
      transform: translateY(8px);
    }
  }

  .tk-avatar-badge {
    width: var(--size-xxs);
    height: var(--size-xxs);
  }
}

.tk-avatar-small {
  .tk-avatar {
    width: var(--size-2xl);
    height: var(--size-2xl);

    .tk-avatar-label {
      font-size: var(--desktop-body-xs-size);
    }

    >svg {
      transform: translateY(6px);
    }
  }

  .tk-avatar-badge {
    width: 8px;
    height: 8px;
  }
}

.tk-avatar-xsmall {
  .tk-avatar {
    width: var(--size-xl);
    height: var(--size-xl);

    &:not(.tk-avatar-rounded) {
      border-radius: var(--radius-xs);
    }

    .tk-avatar-label {
      font-size: var(--desktop-body-2xs-size);
      line-height: var(--line-height-xxs-normal);
      /* 145.455% */
    }

    >svg {
      transform: translateY(4px);
    }
  }

  .tk-avatar-badge {
    width: 6px;
    height: 6px;
  }
}

.tk-avatar-base,
.tk-avatar-small,
.tk-avatar-xsmall {
  .tk-avatar-badge {
    border-width: 1px;
  }
}

.tk-avatar-brand {
  background: var(--primary-base);

  .tk-avatar-label {
    color: var(--text-lightest);
  }

  &:has(.tk-avatar-image) {
    background: transparent;
  }
}

.tk-avatar-solid {
  &.tk-avatar-primary {
    background: var(--primary-light);

    .tk-avatar-label {
      color: var(--primary-darkest);
    }
  }

  &.tk-avatar-light {
    background: var(--background-light);

    .tk-avatar-label {
      color: var(--text-darkest);
    }
  }

  &.tk-avatar-success {
    background: var(--states-success-sub-base);

    .tk-avatar-label {
      color: var(--states-success-darkest);
    }
  }

  &.tk-avatar-info {
    background: var(--states-info-sub-base);

    .tk-avatar-label {
      color: var(--states-info-darkest);
    }
  }

  &.tk-avatar-warning {
    background: var(--states-warning-light);

    .tk-avatar-label {
      color: var(--states-warning-darkest);
    }
  }

  &.tk-avatar-danger {
    background: var(--states-danger-sub-base);

    .tk-avatar-label {
      color: var(--states-danger-darkest);
    }
  }
}

.tk-avatar-primary>svg {
  color: var(--primary-lightest);
}

.tk-avatar-light>svg {
  color: var(--frames-lightest);
}

.tk-avatar-success>svg {
  color: var(--states-success-light);
}

.tk-avatar-info>svg {
  color: var(--states-info-light);
}

.tk-avatar-warning>svg {
  color: var(--states-warning-light);
}

.tk-avatar-danger>svg {
  color: var(--states-danger-light);
}

.tk-avatar-badge {
  position: absolute;
  bottom: var(--spacing-none);
  left: var(--spacing-none);
  border-radius: var(--radius-full);
  border: 2px solid var(--static-light);
  box-shadow: var(--effect-1-hover-sm);

  &.tk-avatar-badge-status-success {
    background: var(--states-success-base);
  }

  &.tk-avatar-badge-status-info {
    background: var(--states-info-base);
  }

  &.tk-avatar-badge-status-warning {
    background: var(--states-warning-base);
  }

  &.tk-avatar-badge-status-danger {
    background: var(--states-danger-base);
  }
}

.tk-avatar-group-compact .tk-avatar-badge {
  display: none;
}
