:host {
  display: block;
}

.tk-avatar-group {
  display: inline-flex;
  align-items: center;
  width: max-content;
  overflow: hidden;

  > :not(tk-avatar) {
    display: inline-flex;
  }

  &.tk-avatar-group-compact {
    border-radius: var(--radius-full);
    border: 1px solid var(--border-light, #e1e4ea);
    background: var(--static-light, #fff);
    padding: 4px;

    > :last-child tk-avatar .tk-avatar-container,
    >tk-avatar:last-child .tk-avatar-container {
      margin-left: 0;

      .tk-avatar {
        background: transparent;
        border: 1px solid transparent;
        box-shadow: none;
        user-select: none;

        .tk-avatar-label {
          color: var(--text-darkest, #222530);
        }
      }
    }
  }

  > :not(:last-child) tk-avatar .tk-avatar,
  >tk-avatar:not(:last-child) .tk-avatar {
    box-shadow: var(--effect-1-default-base);
  }

  > :not(:first-child) tk-avatar,
  >tk-avatar:not(:first-child) {

    >.tk-avatar-xlarge,
    >.tk-avatar-large {
      margin-left: -20px;
    }

    >.tk-avatar-base {
      margin-left: var(--neutral-darker-shadows-2xl-spread, -12px);
    }

    >.tk-avatar-small,
    >.tk-avatar-xsmall {
      margin-left: -8px;
    }
  }
}