.tk-hint-wrapper {
  line-height: var(--desktop-label-s-line-height);
  font-size: var(--desktop-label-s-size);
  font-weight: var(--weight-medium);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding-left: var(--spacing-xs);
  cursor: default;
  color: var(--text-base);

  &.invalid,
  &.error {
    color: var(--states-danger-base);
  }
}
