@use '../../global/sass/mixins' as *;

:host {
  display: block;
}

.tk-phone-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-darkest);
  gap: var(--input-external-label-small-container-gap);

  .tk-phone-input-label {
    font-weight: 400;
    gap: var(--input-external-label-small-container-gap);
  }

  .tk-phone-input-wrapper {
    display: flex;
    align-items: center;
    gap: var(--input-external-label-small-container-gap);
    align-self: stretch;
    border-radius: var(--button-sizes-large-radius);
    border: var(--spacing-px) solid var(--border-light);
    background: var(--static-light);

    &:focus {
      border: var(--spacing-px) solid var(--states-info-base);
    }

    &:hover {
      background-color: var(--background-lightest);
    }
  }

  .tk-phone-input-dropdown {
    .tk-phone-input-dropdown-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      padding: 0;

      .tk-phone-input-dropdown-button-selected {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
        border-right: var(--spacing-px) solid var(--border-light);

        .tk-phone-input-dial-code {
          padding-right: var(--input-external-label-large-label-h-padding);
        }

        &.tk-phone-input-no-dial-code {
          padding-right: var(--input-external-label-large-label-h-padding);
        }
      }
    }
    .tk-phone-input-dropdown-menu {
      position: fixed;
      z-index: 800;
      background: var(--static-light);
      border: var(--spacing-px) solid var(--border-light);
      border-radius: var(--button-sizes-large-radius);
      box-shadow: var(--effect-1-default-sm);
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .tk-phone-input-dropdown-menu-search {
        padding: var(--spacing-m-base);
      }

      .tk-phone-input-menu {
        list-style: none;
        max-height: var(--spacing-56xl);
        overflow-y: auto;
        margin: 8px;
        @include takeoff-scrollbar;

        .tk-phone-input-menu-item {
          display: flex;
          align-items: center;
          gap: var(--spacing-xs);
          padding: var(--input-external-label-base-input-v-padding) var(--spacing-4xl);
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: var(--background-lightest);
          }
        }
      }
    }
  }

  .tk-phone-input-input {
    border: none;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: var(--text-sub-base);
    }
  }

  &[aria-invalid] {
    .tk-phone-input-wrapper {
      border-color: var(--states-danger-base);
    }

    .tk-phone-input-hint {
      color: var(--states-danger-base);
    }
  }

  &[aria-disabled],
  &[aria-readonly] {
    pointer-events: none;
    .tk-phone-input-wrapper {
      background-color: var(--background-lightest);
    }

    .tk-phone-input-label,
    .tk-phone-input-label-asterisk,
    .tk-phone-input-hint-text,
    .tk-phone-input-hint-icon,
    .tk-phone-input-dropdown-button {
      color: var(--text-sub-base);
    }
  }
  &[aria-disabled] {
    .tk-phone-input-input {
      color: var(--text-sub-base);
    }
  }

  &.tk-phone-input-container-large {
    font-size: var(--desktop-label-l-size);
    line-height: var(--desktop-label-l-line-height);
    .tk-phone-input-wrapper {
      height: 48px;
      padding: var(--input-external-label-large-input-v-padding) var(--input-external-label-large-input-h-padding);
      .tk-phone-input-dropdown-button,
      .tk-phone-input-input {
        font-size: var(--desktop-label-l-size);
      }
    }

    .tk-phone-input-label {
      padding: var(--input-external-label-large-label-v-padding) var(--input-external-label-large-label-h-padding);
    }
  }

  &.tk-phone-input-container-base {
    font-size: var(--desktop-label-m-base-size);
    line-height: var(--desktop-label-m-base-line-height);
    .tk-phone-input-wrapper {
      height: 40px;
      padding: var(--input-external-label-base-input-v-padding) var(--input-external-label-base-input-h-padding);
      .tk-phone-input-dropdown-button,
      .tk-phone-input-input {
        font-size: var(--desktop-label-m-base-size);
      }
    }

    .tk-phone-input-label {
      padding: var(--input-external-label-base-label-v-padding) var(--input-external-label-base-label-h-padding);
    }
  }

  &.tk-phone-input-container-small {
    font-size: var(--desktop-label-s-size);
    line-height: var(--desktop-label-s-line-height);
    .tk-phone-input-wrapper {
      height: 32px;
      padding: var(--input-external-label-small-input-v-padding) var(--input-external-label-small-input-h-padding);
      .tk-phone-input-dropdown-button,
      .tk-phone-input-input {
        font-size: var(--desktop-label-s-size);
      }
    }

    .tk-phone-input-label {
      padding: var(--input-external-label-small-label-v-padding) var(--input-external-label-small-label-h-padding);
    }
  }

  .tk-phone-input-asterisk {
    color: var(--states-danger-base);
    font-size: var(--desktop-label-s-size);
    line-height: var(--desktop-label-s-line-height);
    font-weight: 300;
  }
  .tk-phone-input-hint,
  .tk-phone-input-error {
    color: var(--text-base);
    line-height: var(--desktop-label-s-line-height);
    font-size: var(--desktop-label-s-size);
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding-left: var(--spacing-xs);
  }
  .tk-phone-input-error {
    color: var(--states-danger-base);
  }
}
