:host {
  display: inline-flex;
}

:host(.full-width) {
  width: 100%;

  .tk-chips {
    width: 100%;
  }
}

.tk-chips {
  font-family: var(--family-body);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--chips-large-radius);
  border-width: 0px;

  &.removable {
    cursor: pointer;
  }

  tk-icon {
    user-select: none;
  }

  &.disabled {
    color: var(--text-sub-base) !important;
    background-color: var(--frames-light) !important;
    pointer-events: none;

    .tk-icon {
      color: var(--icon-sub-base) !important;
    }

    &.avatar,
    &.outlined {
      border: 1px solid var(--border-sub-base) !important;
      background-color: var(--static-light) !important;

      .tk-icon {
        color: var(--border-sub-base) !important;
      }
    }

    &:active {
      box-shadow: none !important;
    }
  }

  &.primary {
    color: var(--primary-base);

    &.filled {
      color: var(--static-white);
      background-color: var(--primary-base);

      .tk-icon {
        color: var(--icon-lightest);
      }

      &:hover {
        background-color: var(--primary-dark);
      }
    }

    &.outlined {
      border: 1px solid var(--primary-light);

      &:hover {
        background-color: var(--primary-lightest);
      }
    }

    &.filledlight {
      background-color: var(--primary-lightest);
      color: var(--primary-base);

      &:hover {
        color: var(--primary-dark);
        background-color: var(--primary-light);
      }
    }

    &.avatar {
      border: 1px solid var(--primary-base);

      &:hover {
        background-color: var(--primary-lightest);
      }
    }

    &:active {
      box-shadow: var(--primary-focus);
    }
  }

  &.secondary {
    color: var(--secondary-darkest);

    &.filled {
      background-color: var(--secondary-darkest);
      color: var(--text-lightest);

      &:hover {
        background-color: var(--secondary-dark);
      }
    }

    &.outlined {
      border: 1px solid var(--secondary-sub-base);

      &:hover {
        background-color: var(--secondary-lightest);
      }
    }

    &.filledlight {
      background-color: var(--secondary-light);
      color: var(--secondary-darkest);

      &:hover {
        color: var(--secondary-darkest);
        background-color: var(--secondary-sub-base);
      }
    }

    &.avatar {
      border: 1px solid var(--secondary-sub-base);

      &:hover {
        background-color: var(--secondary-lightest);
      }
    }

    &:active {
      box-shadow: var(--secondary-focus);
    }
  }

  &.neutral {
    color: var(--text-darkest);

    &.filled {
      background-color: var(--background-darkest);
      color: var(--text-lightest);

      .tk-icon {
        color: var(--icon-lightest);
      }

      &:hover {
        background-color: var(--background-dark);
      }
    }

    &.outlined {
      border: 1px solid var(--background-sub-base);
      background-color: var(--static-light);

      &:hover {
        background-color: var(--background-lightest);
      }
    }

    &.filledlight {
      background-color: var(--icon-light);

      &:hover {
        background-color: var(--background-sub-base);
      }
    }

    &.avatar {
      border: 1px solid var(--background-sub-base);

      &:hover {
        background-color: var(--background-lightest);
      }
    }

    &:active {
      box-shadow: var(--secondary-focus);
    }
  }

  &.info {
    color: var(--states-info-dark);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--states-info-dark);

      &:hover {
        background-color: var(--states-info-darkest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-info-sub-base);

      &:hover {
        background-color: var(--states-info-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-info-light);

      &:hover {
        color: var(--states-info-darkest);
        background-color: var(--states-info-sub-base);
      }
    }

    &.avatar {
      border: 1px solid var(--states-info-sub-base);

      &:hover {
        background-color: var(--states-info-lightest);
      }
    }

    &:active {
      box-shadow: var(--secondary-focus);
    }
  }

  &.success {
    color: var(--states-success-dark);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--states-success-dark);

      &:hover {
        background-color: var(--states-success-darkest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-success-sub-base);

      &:hover {
        background-color: var(--states-success-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-success-light);

      &:hover {
        color: var(--states-success-darkest);
        background-color: var(--states-success-sub-base);
      }
    }

    &.avatar {
      border: 1px solid var(--states-success-dark);

      &:hover {
        background-color: var(--states-success-lightest);
      }
    }

    &:active {
      box-shadow: var(--secondary-focus);
    }
  }

  &.danger {
    color: var(--states-danger-dark);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--states-danger-dark);

      .tk-icon {
        color: var(--icon-lightest);
      }

      &:hover {
        background-color: var(--states-danger-darkest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-danger-sub-base);

      &:hover {
        background-color: var(--states-danger-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-danger-light);

      &:hover {
        color: var(--states-danger-darkest);
        background-color: var(--states-danger-sub-base);
      }
    }

    &.avatar {
      border: 1px solid var(--states-danger-sub-base);

      &:hover {
        background-color: var(--states-danger-lightest);
      }
    }

    &:active {
      box-shadow: var(--secondary-focus);
    }
  }

  &.warning {
    color: var(--states-warning-darkest);

    &.filled {
      background-color: var(--states-warning-dark);
      color: var(--text-lightest);

      .tk-icon {
        color: var(--icon-lightest);
      }

      &:hover {
        background-color: var(--states-warning-darkest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-warning-sub-base);

      &:hover {
        background-color: var(--states-warning-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-warning-lightest);

      &:hover {
        background-color: var(--states-warning-sub-base);
      }
    }

    &.avatar {
      border: 1px solid var(--states-warning-sub-base);

      &:hover {
        background-color: var(--states-warning-lightest);
      }
    }

    &:active {
      box-shadow: var(--secondary-focus);
    }
  }

  &.verified {
    color: var(--states-verified-dark);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--states-verified-dark);

      &:hover {
        background-color: var(--states-verified-darkest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-verified-sub-base);

      &:hover {
        background-color: var(--states-verified-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-verified-lightest);

      &:hover {
        color: var(--states-verified-darkest);
        background-color: var(--states-verified-sub-base);
      }
    }

    &.avatar {
      border: 1px solid var(--states-verified-sub-base);

      &:hover {
        background-color: var(--states-verified-lightest);
      }
    }

    &:active {
      box-shadow: var(--secondary-focus);
    }
  }

  &.small {
    padding: var(--chips-small-v-padding) var(--chips-small-h-padding);
    font-size: var(--desktop-body-xs-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--desktop-body-xs-line-height);
    gap: 2px;
  }

  &.base {
    padding: var(--chips-base-v-padding) var(--chips-base-h-padding);
    font-size: var(--desktop-body-s-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--desktop-body-s-line-height);
    gap: 4px;
  }

  &.large {
    padding: var(--chips-large-v-padding) var(--chips-large-h-padding);
    font-size: var(--desktop-body-s-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--desktop-body-s-line-height);
    gap: 6px;
  }
}
