:host {
  display: inline-flex;
}

.tk-chips {
  font-family: 'Geologica', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--chips-large-radius);
  border-width: 0px;
  background-color: var(--static-light);

  &.removable {
    cursor: pointer;
  }

  &.disabled {
    color: var(--text-sub-base) !important;
    background-color: var(--frames-light) !important;
    pointer-events: none;

    &.avatar,
    &.outlined {
      border: 1px solid var(--border-sub-base) !important;
      background-color: var(--static-light) !important;
    }

    &:active {
      box-shadow: none !important;
    }
  }

  &:active {
    box-shadow: var(--secondary-focus);
  }

  &.primary {
    color: var(--primary-base);

    &:active {
      box-shadow: var(--primary-focus);
    }

    &.filled {
      color: var(--text-lightest);
      background-color: var(--primary-base);

      &:hover {
        background-color: var(--primary-dark);
      }
    }

    &.outlined {
      border: 1px solid var(--primary-base);

      &:hover {
        background-color: var(--primary-lightest);
      }
    }

    &.filledlight {
      background-color: var(--primary-light);
      color: var(--primary-base);
    }

    &.avatar {
      border: 1px solid var(--primary-base);

      &:hover {
        background-color: var(--primary-lightest);
      }
    }
  }

  &.secondary {
    color: var(--secondary-darkest);

    &.filled {
      background-color: var(--secondary-darkest);
      color: var(--text-lightest);

      &:hover {
        background-color: var(--secondary-dark);
      }
    }

    &.outlined {
      border: 1px solid var(--secondary-darkest);

      &:hover {
        background-color: var(--secondary-lightest);
      }
    }

    &.filledlight {
      background-color: var(--secondary-light);
      color: var(--secondary-darkest);

      &:hover {
        color: var(--secondary-dark);
        background-color: var(--secondary-light);
      }
    }

    &.avatar {
      border: 1px solid var(--secondary-darkest);

      &:hover {
        background-color: var(--secondary-lightest);
      }
    }
  }

  &.neutral {
    color: var(--text-darkest);

    &.filled {
      background-color: var(--background-darkest);
      color: var(--text-lightest);

      &:hover {
        background-color: var(--background-dark);
      }
    }

    &.outlined {
      border: 1px solid var(--background-darkest);

      &:hover {
        background-color: var(--background-lightest);
      }
    }

    &.filledlight {
      background-color: var(--icon-lightest);

      &:hover {
        color: var(--text-dark);
      }
    }

    &.avatar {
      border: 1px solid var(--background-darkest);

      &:hover {
        background-color: var(--background-lightest);
      }
    }
  }

  &.info {
    color: var(--states-info-dark);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--states-info-dark);

      &:hover {
        background-color: var(--states-info-darkest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-info-dark);

      &:hover {
        background-color: var(--states-info-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-info-lightest);

      &:hover {
        color: var(--states-info-darkest);
      }
    }

    &.avatar {
      border: 1px solid var(--states-info-dark);

      &:hover {
        background-color: var(--states-info-lightest);
      }
    }
  }

  &.success {
    color: var(--states-success-dark);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--states-success-dark);

      &:hover {
        background-color: var(--states-success-darkest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-success-dark);

      &:hover {
        background-color: var(--states-success-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-success-lightest);

      &:hover {
        color: var(--states-success-darkest);
      }
    }

    &.avatar {
      border: 1px solid var(--states-success-dark);

      &:hover {
        background-color: var(--states-success-lightest);
      }
    }
  }

  &.danger {
    color: var(--states-danger-dark);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--states-danger-dark);

      &:hover {
        background-color: var(--states-danger-darkest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-danger-dark);

      &:hover {
        background-color: var(--states-danger-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-danger-lightest);

      &:hover {
        color: var(--states-danger-darkest);
      }
    }

    &.avatar {
      border: 1px solid var(--states-danger-dark);

      &:hover {
        background-color: var(--states-danger-lightest);
      }
    }
  }

  &.warning {
    color: var(--states-warning-dark);

    &.filled {
      background-color: var(--states-warning-dark);
      color: var(--text-lightest);

      &:hover {
        background-color: var(--states-warning-lightest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-warning-dark);

      &:hover {
        background-color: var(--states-warning-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-warning-lightest);

      &:hover {
        color: var(--states-warning-darkest);
      }
    }

    &.avatar {
      border: 1px solid var(--states-warning-dark);

      &:hover {
        background-color: var(--states-warning-lightest);
      }
    }
  }

  &.verified {
    color: var(--states-verified-dark);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--states-verified-dark);

      &:hover {
        background-color: var(--states-verified-darkest);
      }
    }

    &.outlined {
      border: 1px solid var(--states-verified-dark);

      &:hover {
        background-color: var(--states-verified-lightest);
      }
    }

    &.filledlight {
      background-color: var(--states-verified-lightest);

      &:hover {
        color: var(--states-verified-darkest);
      }
    }

    &.avatar {
      border: 1px solid var(--states-verified-dark);

      &:hover {
        background-color: var(--states-verified-lightest);
      }
    }
  }

  &.small {
    padding: calc(var(--chips-small-v-padding) - 1px) var(--chips-small-h-padding);
    font-size: var(--desktop-body-xs-size);
    font-style: normal;
    font-weight: var(--weight-regular);
    line-height: var(--desktop-body-xs-line-height);
    gap: 2px;

    i {
      font-size: 14px;
    }
  }

  &.base {
    padding: calc(var(--chips-base-v-padding - 1) - 1px) var(--chips-base-h-padding);
    font-size: var(--desktop-body-s-size);
    font-style: normal;
    font-weight: var(--weight-regular);
    line-height: var(--desktop-body-s-line-height);
    gap: 4px;

    i {
      font-size: 16px;
    }
  }

  &.large {
    padding: calc(var(--chips-large-v-padding) - 2px) var(--chips-large-h-padding);
    font-size: var(--desktop-body-s-size);
    font-style: normal;
    font-weight: var(--weight-regular);
    line-height: var(--desktop-body-s-line-height);
    gap: 6px;

    i {
      font-size: 20px;
    }
  }
}
