:host {
  display: inline-block;
}

:host(.full-width) {
  width: 100%;

  .tk-button {
    width: 100%;
  }
}

@mixin tk-button-disabled {
  &:disabled,
  &[disabled] {
    @content;
  }
}

@mixin button-variant-filled($bg-color, $hover-color, $focus-bg, $focus-shadow, $disabled-bg, $text-color: var(--text-lightest), $icon-color: var(--icon-lightest)) {
  background-color: $bg-color;
  color: $text-color;

  .tk-button-icon {
    color: $icon-color;
  }

  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }

  &:focus-visible {
    background-color: $focus-bg;
    box-shadow: $focus-shadow;
  }

  @include tk-button-disabled {
    background-color: $disabled-bg;
  }
}

@mixin button-variant-outlined($color, $border-color, $hover-bg, $focus-bg, $focus-shadow, $disabled-color, $disabled-border) {
  background-color: transparent;
  color: $color;
  border: 1px solid $border-color;

  &:hover {
    background-color: $hover-bg;
    cursor: pointer;
  }

  &:focus-visible {
    background-color: $focus-bg;
    box-shadow: $focus-shadow;
  }

  @include tk-button-disabled {
    color: $disabled-color;
    border-color: $disabled-border;
  }
}

@mixin button-variant-text($color, $hover-bg, $focus-bg, $focus-shadow, $disabled-color) {
  background-color: transparent;
  color: $color;

  &:hover {
    background-color: $hover-bg;
    cursor: pointer;
  }

  &:focus-visible {
    background-color: $focus-bg;
    box-shadow: $focus-shadow;
  }

  @include tk-button-disabled {
    background-color: transparent;
    color: $disabled-color;
  }
}

@mixin button-variant-link($color, $hover-color) {
  color: $color;

  &:hover {
    color: $hover-color;
    cursor: pointer;
  }
}

@mixin button-size($height, $font-size, $radius, $v-padding, $h-padding, $gap, $icon-size, $icon-only-padding) {
  height: $height;
  font-size: $font-size;
  border-radius: $radius;
  padding: $v-padding $h-padding;
  gap: $gap;

  &.rounded {
    height: unset;
    border-radius: 100%;
  }

  i {
    font-size: $icon-size;
    width: $icon-size;
    height: $icon-size;
    line-height: unset;
  }

  &.icon-only {
    padding: $icon-only-padding;
  }
}

.tk-button {
  font-family: var(--desktop-body-m-base-font, sans-serif);
  font-weight: 400;
  line-height: var(--desktop-body-m-base-line-height);
  transition: all 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &.underline span {
    text-decoration: underline;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.primary {
    border: 0px;
    color: var(--static-white);

    &.filled {
      @include button-variant-filled(var(--primary-base), var(--primary-darkest), var(--primary-base), var(--primary-focus), var(--frames-sub-base));
    }

    &.outlined {
      @include button-variant-outlined(
        var(--primary-base),
        var(--primary-base),
        var(--primary-lightest),
        var(--overlay-white-lightest),
        var(--primary-focus),
        var(--text-sub-base),
        var(--border-sub-base)
      );
    }

    &.text {
      @include button-variant-text(var(--primary-base), var(--primary-lightest), var(--primary-lightest), var(--primary-focus), var(--text-sub-base));
    }

    &.link {
      @include button-variant-link(var(--primary-base), var(--primary-dark));
    }
  }

  &.secondary {
    border: 0px;
    color: var(--text-lightest);

    &.filled {
      @include button-variant-filled(var(--secondary-darkest), var(--secondary-dark), var(--secondary-darkest), var(--secondary-focus), var(--frames-sub-base));

      @include tk-button-disabled {
        color: var(--text-lightest);
      }
    }

    &.outlined {
      @include button-variant-outlined(
        var(--secondary-base),
        var(--secondary-base),
        var(--secondary-lightest),
        var(--overlay-white-lightest),
        var(--secondary-focus),
        var(--text-sub-base),
        var(--border-sub-base)
      );
    }

    &.text {
      @include button-variant-text(var(--secondary-base), var(--secondary-lightest), var(--secondary-lightest), var(--secondary-focus), var(--text-sub-base));
    }

    &.link {
      @include button-variant-link(var(--secondary-dark), var(--secondary-darkest));
    }
  }

  &.neutral {
    border: 0px;
    color: var(--text-lightest);

    &.filled {
      @include button-variant-filled(var(--frames-base), var(--frames-darkest), var(--frames-base), var(--secondary-focus), var(--frames-sub-base));
    }

    &.outlined {
      background-color: transparent;
      color: var(--text-darkest);
      border: 1px solid var(--border-sub-base);

      .tk-button-icon {
        color: var(--icon-darkest);
      }

      &:hover {
        background-color: var(--frames-lightest);
        border-color: var(--border-base);
        cursor: pointer;
      }

      &:focus-visible {
        background-color: var(--overlay-white-lightest);
        border-color: var(--border-base);
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        color: var(--text-sub-base);
        border-color: var(--border-sub-base);

        .tk-button-icon {
          color: var(--icon-sub-base);
        }
      }
    }

    &.text {
      background-color: transparent;
      color: var(--text-darkest);

      .tk-button-icon {
        color: var(--icon-darkest);
      }

      &:hover {
        background-color: var(--frames-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        background-color: var(--frames-lightest);
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        color: var(--text-sub-base);

        .tk-button-icon {
          color: var(--icon-sub-base);
        }
      }
    }

    &.link {
      @include button-variant-link(var(--text-dark), var(--text-darkest));
    }
  }

  &.info {
    border: 0px;
    color: var(--text-lightest);

    &.filled {
      @include button-variant-filled(var(--states-info-dark), var(--states-info-darkest), var(--states-info-base), var(--secondary-focus), var(--states-info-sub-base));
    }

    &.outlined {
      @include button-variant-outlined(
        var(--states-info-dark),
        var(--states-info-dark),
        var(--states-info-light),
        var(--overlay-white-lightest),
        var(--secondary-focus),
        var(--states-info-light),
        var(--states-info-light)
      );
    }

    &.text {
      @include button-variant-text(var(--states-info-dark), var(--states-info-light), var(--states-info-light), var(--secondary-focus), var(--states-info-light));
    }

    &.link {
      @include button-variant-link(var(--states-info-dark), var(--states-info-darkest));
    }
  }

  &.success {
    border: 0px;
    color: var(--text-lightest);

    &.filled {
      @include button-variant-filled(var(--states-success-dark), var(--states-success-darkest), var(--states-success-dark), var(--secondary-focus), var(--states-success-sub-base));
    }

    &.outlined {
      @include button-variant-outlined(
        var(--states-success-dark),
        var(--states-success-dark),
        var(--states-success-light),
        var(--overlay-white-lightest),
        var(--secondary-focus),
        var(--states-success-light),
        var(--states-success-light)
      );
    }

    &.text {
      @include button-variant-text(var(--states-success-dark), var(--states-success-light), var(--states-success-light), var(--secondary-focus), var(--states-success-light));
    }

    &.link {
      @include button-variant-link(var(--states-success-dark), var(--states-success-darkest));
    }
  }

  &.danger {
    border: 0px;
    color: var(--states-danger-dark);

    &.filled {
      @include button-variant-filled(
        var(--states-danger-dark),
        var(--states-danger-darkest),
        var(--states-danger-dark),
        var(--secondary-focus),
        var(--states-danger-light),
        var(--text-lightest)
      );
    }

    &.outlined {
      @include button-variant-outlined(
        var(--states-danger-dark),
        var(--states-danger-dark),
        var(--states-danger-light),
        var(--overlay-white-lightest),
        var(--secondary-focus),
        var(--states-danger-light),
        var(--states-danger-light)
      );
    }

    &.text {
      @include button-variant-text(var(--states-danger-dark), var(--states-danger-light), var(--states-danger-light), var(--secondary-focus), var(--states-danger-light));
    }

    &.link {
      @include button-variant-link(var(--states-danger-dark), var(--states-danger-darkest));
    }
  }

  &.warning {
    border: 0px;
    color: var(--states-warning-dark);

    &.filled {
      @include button-variant-filled(
        var(--states-warning-dark),
        var(--states-warning-darkest),
        var(--states-warning-dark),
        var(--secondary-focus),
        var(--states-warning-sub-base),
        var(--text-lightest)
      );
    }

    &.outlined {
      background-color: transparent;
      border: 1px solid var(--states-warning-dark);

      &:hover {
        background-color: var(--states-warning-light);
        cursor: pointer;
      }

      &:focus-visible {
        background-color: var(--overlay-white-light);
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        color: var(--states-warning-light);
        border-color: var(--states-warning-light);
      }
    }

    &.text {
      @include button-variant-text(var(--states-warning-dark), var(--states-warning-light), var(--states-warning-light), var(--secondary-focus), var(--states-warning-light));
    }

    &.link {
      @include button-variant-link(var(--states-warning-dark), var(--states-warning-darkest));
    }
  }

  &.white {
    border: 0px;

    &.filled {
      background-color: var(--static-light);
      color: var(--text-darkest);

      .tk-button-icon {
        color: var(--icon-darkest);
      }

      &:hover {
        background-color: var(--background-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: var(--static-light);
        color: var(--overlay-white-light);
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--static-light);
      border: 1px solid var(--static-light);

      &:hover {
        background-color: var(--overlay-white-light);
        cursor: pointer;
      }

      &:focus-visible {
        background-color: var(--overlay-white-lightest);
      }

      @include tk-button-disabled {
        color: var(--text-sub-base);
        border-color: var(--border-sub-base);
      }
    }

    &.text {
      background-color: transparent;
      color: var(--static-light);
      box-shadow: none;

      &:hover {
        color: var(--text-dark);
        background-color: var(--overlay-white-light);
        cursor: pointer;
      }
    }

    &.link {
      @include button-variant-link(var(--text-lightest), var(--text-light));
    }
  }

  &.small {
    @include button-size(
      32px,
      var(--desktop-body-xs-size),
      var(--button-sizes-small-radius),
      var(--button-sizes-small-v-padding),
      var(--button-sizes-small-h-padding),
      var(--button-sizes-small-gap),
      var(--button-sizes-small-icon-size),
      var(--sizes-small-full-padding, 6px)
    );

    &.rounded {
      padding: var(--fab-button-sizes-small-v-padding) var(--fab-button-sizes-small-h-padding);
    }
  }

  &.base {
    @include button-size(
      40px,
      var(--desktop-body-s-size),
      var(--button-sizes-base-radius),
      var(--button-sizes-base-v-padding),
      var(--button-sizes-base-h-padding),
      var(--button-sizes-base-gap),
      var(--button-sizes-base-icon-size),
      var(--sizes-base-full-padding, 8px)
    );

    &.rounded {
      padding: var(--fab-button-sizes-base-v-padding) var(--fab-button-sizes-base-h-padding);
    }
  }

  &.large {
    @include button-size(
      48px,
      var(--desktop-body-m-base-size),
      var(--button-sizes-large-radius),
      var(--button-sizes-large-v-padding),
      var(--button-sizes-large-h-padding),
      var(--button-sizes-large-gap),
      var(--button-sizes-large-icon-size),
      var(--sizes-large-full-padding, 12px)
    );

    &.rounded {
      padding: var(--fab-button-sizes-large-v-padding) var(--fab-button-sizes-large-h-padding);
    }
  }

  &.link {
    padding: 0;
    background-color: transparent;
    text-decoration: none;

    &.underline span {
      text-decoration: underline;
    }

    @include tk-button-disabled {
      color: var(--text-sub-base);
    }

    &.small {
      height: 18px;

      i {
        font-size: var(--link-button-sizes-small-icon-size);
        width: var(--link-button-sizes-small-icon-size);
        height: var(--link-button-sizes-small-icon-size);
      }
    }

    &.base {
      height: 20px;

      i {
        font-size: var(--link-button-sizes-base-icon-size);
        width: var(--link-button-sizes-base-icon-size);
        height: var(--link-button-sizes-base-icon-size);
      }
    }

    &.large {
      height: 24px;

      i {
        font-size: var(--link-button-sizes-large-icon-size);
        width: var(--link-button-sizes-large-icon-size);
        height: var(--link-button-sizes-large-icon-size);
      }
    }
  }
}