:host {
  display: inline-block;
}

:host(.full-width) {
  width: 100%;

  .tk-button {
    width: 100%;
  }
}

@mixin tk-button-disabled {
  &:disabled,
  &[disabled] {
    @content;
  }
}

@mixin button-variant-filled($bg-color, $hover-color, $focus-bg, $focus-shadow, $disabled-bg, $text-color: var(--text-lightest)) {
  background-color: $bg-color;
  color: $text-color;

  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }

  &:focus-visible {
    box-shadow: $focus-shadow;
  }

  @include tk-button-disabled {
    background-color: $disabled-bg;
  }
}

@mixin button-variant-outlined($color, $border-color, $hover-bg, $focus-bg, $focus-shadow, $disabled-color, $disabled-border) {
  background-color: transparent;
  color: $color;
  border: 1px solid $border-color;

  &:hover {
    background-color: $hover-bg;
    cursor: pointer;
  }

  &:focus-visible {
    box-shadow: $focus-shadow;
  }

  @include tk-button-disabled {
    color: $disabled-color;
    border-color: $disabled-border;
  }
}

@mixin button-variant-text($color, $hover-bg, $focus-bg, $focus-shadow, $disabled-color) {
  background-color: transparent;
  color: $color;

  &:hover {
    background-color: $hover-bg;
    cursor: pointer;
  }

  &:focus-visible {
    box-shadow: $focus-shadow;
  }

  @include tk-button-disabled {
    background-color: transparent;
    color: $disabled-color;
  }
}

@mixin button-variant-link($color, $hover-color) {
  color: $color;

  &:hover {
    color: $hover-color;
    cursor: pointer;
  }
}

@mixin button-size($height, $font-size, $radius, $v-padding, $h-padding, $gap, $icon-only-padding) {
  min-height: $height;
  font-size: $font-size;
  border-radius: $radius;
  padding: $v-padding $h-padding;
  gap: $gap;

  &.rounded {
    height: unset;
    border-radius: 100%;
  }

  &.icon-only {
    padding: $icon-only-padding;
  }
}

.tk-button {
  font-family: var(--desktop-body-m-base-font);
  font-weight: 400;
  transition: all 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  overflow: hidden;
  height: 100%;

  &.underline span {
    text-decoration: underline;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }

  &.primary {
    border: 0px;
    color: var(--static-white);

    &.filled {
      background-color: var(--primary-base);
      &:hover {
        background-color: var(--primary-darkest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--primary-focus);
      }
    }

    &.filledLight {
      color: var(--primary-500);
      background-color: var(--primary-lightest);

      &:hover {
        background-color: var(--primary-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--primary-focus);
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--primary-base);
      border: 1px solid var(--primary-sub-base);

      &:hover {
        background-color: var(--primary-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--primary-focus);
      }

      @include tk-button-disabled {
        color: var(--text-sub-base);
        background-color: transparent;
        border-color: var(--border-sub-base);
      }
    }

    &.text {
      background-color: transparent;
      color: var(--primary-base);
      box-shadow: none;

      &:hover {
        background-color: var(--primary-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--primary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        color: var(--text-sub-base);
      }
    }

    &.link {
      @include button-variant-link(var(--primary-base), var(--primary-dark));
    }

    @include tk-button-disabled {
      color: var(--static-white);
      background-color: var(--background-sub-base);
    }
  }

  &.secondary {
    border: 0px;
    color: var(--text-lightest);
    background-color: var(--secondary-dark);

    &.filled {
      &:hover {
        background-color: var(--secondary-darkest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.filledLight {
      color: var(--secondary-darkest);
      background-color: var(--secondary-lightest);

      &:hover {
        background-color: var(--secondary-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--secondary-darkest);
      border: 1px solid var(--secondary-sub-base);

      &:hover {
        background-color: var(--secondary-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        color: var(--text-sub-base);
        background-color: transparent;
        border-color: var(--border-sub-base);
      }
    }

    &.text {
      background-color: transparent;
      color: var(--secondary-darkest);
      box-shadow: none;

      &:hover {
        background-color: var(--secondary-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        color: var(--text-sub-base);
      }
    }

    &.link {
      @include button-variant-link(var(--secondary-dark), var(--secondary-darkest));
    }

    @include tk-button-disabled {
      color: var(--text-lightest);
      background-color: var(--background-sub-base);
    }
  }

  &.neutral {
    border: 0px;
    color: var(--text-darkest);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--background-base);

      &:hover {
        background-color: var(--background-darkest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.filledLight {
      background-color: var(--background-lightest);

      &:hover {
        background-color: var(--background-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.outlined {
      background-color: transparent;
      border: 1px solid var(--background-sub-base);

      &:hover {
        background-color: var(--background-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        color: var(--text-sub-base);
        background-color: transparent;
        border-color: var(--border-sub-base);
      }
    }

    &.text {
      background-color: transparent;
      box-shadow: none;

      &:hover {
        background-color: var(--background-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        color: var(--text-sub-base);
      }
    }

    &.link {
      @include button-variant-link(var(--text-dark), var(--text-darkest));
    }

    @include tk-button-disabled {
      color: var(--static-white);
      background-color: var(--background-sub-base);
    }
  }

  &.info {
    border: 0px;
    color: var(--text-lightest);

    &.filled {
      background-color: var(--states-info-dark);
      &:hover {
        background-color: var(--states-info-darkest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--info-focus);
      }
    }

    &.filledLight {
      color: var(--states-info-dark);
      background-color: var(--states-info-lightest);

      &:hover {
        background-color: var(--states-info-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--states-info-dark);
      border: 1px solid var(--states-info-sub-base);

      &:hover {
        background-color: var(--states-info-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        color: var(--text-sub-base);
        background-color: transparent;
        border-color: var(--border-sub-base);
      }
    }

    &.text {
      background-color: transparent;
      color: var(--states-info-dark);
      box-shadow: none;

      &:hover {
        background-color: var(--states-info-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        color: var(--text-sub-base);
      }
    }

    &.link {
      @include button-variant-link(var(--states-info-dark), var(--states-info-darkest));
    }

    @include tk-button-disabled {
      color: var(--text-lightest);
      background-color: var(--background-sub-base);
    }
  }

  &.success {
    border: 0px;
    color: var(--text-lightest);
    background-color: var(--states-success-dark);

    &.filled {
      &:hover {
        background-color: var(--states-success-darkest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }
    &.filledLight {
      color: var(--states-success-dark);
      background-color: var(--states-success-lightest);

      &:hover {
        background-color: var(--states-success-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--states-success-dark);
      border: 1px solid var(--states-success-sub-base);

      &:hover {
        background-color: var(--states-success-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        color: var(--icon-sub-base);
        background-color: transparent;
        border-color: var(--border-sub-base);
      }
    }

    &.text {
      background-color: transparent;
      color: var(--states-success-dark);
      box-shadow: none;

      &:hover {
        background-color: var(--states-success-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        color: var(--icon-sub-base);
      }
    }

    &.link {
      @include button-variant-link(var(--states-success-dark), var(--states-success-darkest));
    }

    @include tk-button-disabled {
      color: var(--text-lightest);
      background-color: var(--background-sub-base);
    }
  }

  &.danger {
    border: 0px;
    color: var(--text-lightest);
    background-color: var(--states-danger-dark);

    &.filled {
      &:hover {
        background-color: var(--states-danger-darkest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.filledLight {
      color: var(--states-danger-dark);
      background-color: var(--states-danger-lightest);

      &:hover {
        background-color: var(--states-danger-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--states-danger-dark);
      border: 1px solid var(--states-danger-sub-base);

      &:hover {
        background-color: var(--states-danger-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        color: var(--background-sub-base);
        background-color: transparent;
        border-color: var(--background-sub-base);
      }
    }

    &.text {
      background-color: transparent;
      color: var(--states-danger-dark);
      box-shadow: none;

      &:hover {
        background-color: var(--states-danger-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        color: var(--background-sub-base);
      }
    }

    &.link {
      @include button-variant-link(var(--states-danger-dark), var(--states-danger-darkest));
    }

    @include tk-button-disabled {
      color: var(--text-lightest);
      background-color: var(--background-sub-base);
    }
  }

  &.warning {
    border: 0px;
    color: var(--states-warning-dark);

    &.filled {
      color: var(--text-lightest);
      background-color: var(--states-warning-dark);

      &:hover {
        background-color: var(--states-warning-darkest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }
    &.filledLight {
      background-color: var(--states-warning-lightest);

      &:hover {
        background-color: var(--states-warning-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.outlined {
      background-color: transparent;
      border: 1px solid var(--states-warning-sub-base);

      &:hover {
        background-color: var(--states-warning-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        color: var(--text-light);
        background-color: transparent;
        border-color: var(--border-sub-base);
      }
    }

    &.text {
      background-color: transparent;
      box-shadow: none;

      &:hover {
        background-color: var(--states-warning-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        color: var(--text-light);
      }
    }

    &.link {
      @include button-variant-link(var(--states-warning-dark), var(--states-warning-darkest));
    }

    @include tk-button-disabled {
      color: var(--text-lightest);
      background-color: var(--background-sub-base);
    }
  }

  &.white {
    border: 0px;
    background-color: var(--static-light);
    color: var(--text-darkest);

    &.filled {
      &:hover {
        background-color: var(--background-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.filledLight {
      background-color: var(--overlay-white-lightest);
      color: var(--text-lightest);

      &:hover {
        background-color: var(--overlay-white-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--text-lightest);
      border: 1px solid var(--text-lightest);

      &:hover {
        background-color: var(--overlay-white-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        border-color: var(--overlay-white-lightest);
      }
    }

    &.text {
      background-color: transparent;
      color: var(--text-lightest);
      box-shadow: none;

      &:hover {
        color: var(--text-lightest);
        background-color: var(--overlay-white-light);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
      }
    }

    &.link {
      @include button-variant-link(var(--text-lightest), var(--text-light));
    }

    @include tk-button-disabled {
      background-color: var(--overlay-white-lightest);
      color: var(--overlay-white-light);
    }
  }

  &.black {
    border: 0px;
    color: var(--text-darkest);

    &.filled {
      background-color: var(--background-darkest);
      color: var(--text-lightest);

      &:hover {
        background-color: var(--static-dark);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.filledLight {
      background-color: var(--overlay-black-xlightest);

      &:hover {
        background-color: var(--overlay-black-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }
    }

    &.outlined {
      background-color: transparent;
      border: 1px solid var(--icon-darkest);

      &:hover {
        background-color: var(--overlay-black-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
        border-color: var(--overlay-black-xlightest);
      }
    }

    &.text {
      background-color: transparent;
      box-shadow: none;

      &:hover {
        color: var(--text-darkest);
        background-color: var(--overlay-black-lightest);
        cursor: pointer;
      }

      &:focus-visible {
        box-shadow: var(--secondary-focus);
      }

      @include tk-button-disabled {
        background-color: transparent;
      }
    }

    &.link {
      @include button-variant-link(var(--text-dark), var(--text-darkest));
    }

    @include tk-button-disabled {
      color: var(--overlay-black-lightest);
      background-color: var(--overlay-black-xlightest);
    }
  }

  &.small {
    @include button-size(
      32px,
      var(--desktop-body-xs-size),
      var(--button-sizes-small-radius),
      var(--button-sizes-small-v-padding),
      var(--button-sizes-small-h-padding),
      var(--button-sizes-small-gap),
      var(--button-sizes-small-full-padding)
    );

    &.rounded {
      padding: var(--fab-button-sizes-small-v-padding) var(--fab-button-sizes-small-h-padding);
    }
  }

  &.base {
    @include button-size(
      40px,
      var(--desktop-body-s-size),
      var(--button-sizes-base-radius),
      var(--button-sizes-base-v-padding),
      var(--button-sizes-base-h-padding),
      var(--button-sizes-base-gap),
      var(--button-sizes-base-full-padding)
    );

    &.rounded {
      padding: var(--fab-button-sizes-base-v-padding) var(--fab-button-sizes-base-h-padding);
    }
  }

  &.large {
    @include button-size(
      48px,
      var(--desktop-body-m-base-size),
      var(--button-sizes-large-radius),
      var(--button-sizes-large-v-padding),
      var(--button-sizes-large-h-padding),
      var(--button-sizes-large-gap),
      var(--button-sizes-large-full-padding)
    );

    &.rounded {
      padding: var(--fab-button-sizes-large-v-padding) var(--fab-button-sizes-large-h-padding);
    }
  }

  &.link {
    padding: 0;
    background-color: transparent;
    text-decoration: none;

    &.underline span {
      text-decoration: underline;
    }

    @include tk-button-disabled {
      color: var(--text-sub-base);
      background-color: transparent;
    }

    &.small {
      height: 18px;
    }

    &.base {
      height: 20px;
    }

    &.large {
      height: 24px;
    }
  }
}
