tk-icon {
    display: inline-block;
}

.tk-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .tk-small {
        font-size: var(--size-sm);
    }

    .tk-base {
        font-size: var(--size-base);
    }

    .tk-large {
        font-size: var(--size-2xl);
    }

    &.tk-primary {
        color: var(--primary-dark);
        &.tk-icon-card {
            border-color: var(--primary-sub-base);
            .tk-small {
                border: 1px solid;
                border-radius: var(--radius-s);
                padding: 2px;
                background-color: var(--primary-lightest);
            }

            .tk-base {
                border: 1px solid;
                border-radius: var(--radius-m-base);
                padding: 4px;
                background-color: var(--primary-lightest);
            }

            .tk-large {
                border: 1px solid;
                border-radius: var(--radius-l);
                padding: 6px;
                background-color: var(--primary-lightest);
            }
        }
    }
    &.tk-secondary {
        color: var(--secondary-dark);
        &.tk-icon-card {
            border-color: var(--secondary-sub-base);
            .tk-small {
                border: 1px solid;
                border-radius: var(--radius-s);
                padding: 2px;
                background-color: var(--secondary-lightest);
            }

            .tk-base {
                border: 1px solid;
                border-radius: var(--radius-m-base);
                padding: 4px;
                background-color: var(--secondary-lightest);
            }

            .tk-large {
                border: 1px solid;
                border-radius: var(--radius-l);
                padding: 6px;
                background-color: var(--secondary-lightest);
            }
        }
    }
    &.tk-neutral {
        color: var(--background-dark);
        &.tk-icon-card {
            border-color: (--background-sub-base);
            .tk-small {
                border: 1px solid;
                border-radius: var(--radius-s);
                padding: 2px;
                background-color: var(--background-lightest);
            }

            .tk-base {
                border: 1px solid;
                border-radius: var(--radius-m-base);
                padding: 4px;
                background-color: var(--background-lightest);
            }

            .tk-large {
                border: 1px solid;
                border-radius: var(--radius-l);
                padding: 6px;
                background-color: var(--background-lightest);
            }
        }
    }
    &.tk-info {
        color: var(--states-info-dark);
        &.tk-icon-card {
            border-color: var(--states-info-sub-base);
            .tk-small {
                border: 1px solid;
                border-radius: var(--radius-s);
                padding: 2px;
                background-color: var(--states-info-lightest);
            }

            .tk-base {
                border: 1px solid;
                border-radius: var(--radius-m-base);
                padding: 4px;
                background-color: var(--states-info-lightest);
            }

            .tk-large {
                border: 1px solid;
                border-radius: var(--radius-l);
                padding: 6px;
                background-color: var(--states-info-lightest);
            }
        }
    }
    &.tk-success {
        color: var(--states-success-dark);
        &.tk-icon-card {
            border-color: var(--states-success-sub-base);
            .tk-small {
                border: 1px solid;
                border-radius: var(--radius-s);
                padding: 2px;
                background-color: var(--states-success-lightest);
            }

            .tk-base {
                border: 1px solid;
                border-radius: var(--radius-m-base);
                padding: 4px;
                background-color: var(--states-success-lightest);
            }

            .tk-large {
                border: 1px solid;
                border-radius: var(--radius-l);
                padding: 6px;
                background-color: var(--states-success-lightest);
            }
        }
    }
    &.tk-danger {
        color: var(--states-danger-dark);
        &.tk-icon-card {
            border-color: var(--states-danger-sub-base);
            .tk-small {
                border: 1px solid;
                border-radius: var(--radius-s);
                padding: 2px;
                background-color: var(--states-danger-lightest);
            }

            .tk-base {
                border: 1px solid;
                border-radius: var(--radius-m-base);
                padding: 4px;
                background-color: var(--states-danger-lightest);
            }

            .tk-large {
                border: 1px solid;
                border-radius: var(--radius-l);
                padding: 6px;
                background-color: var(--states-danger-lightest);
            }
        }
    }
    &.tk-warning {
        color: var(--states-warning-dark);
        &.tk-icon-card {
            border-color: var(--states-warning-sub-base);
            .tk-small {
                border: 1px solid;
                border-radius: var(--radius-s);
                padding: 2px;
                background-color: var(--states-warning-lightest);
            }

            .tk-base {
                border: 1px solid;
                border-radius: var(--radius-m-base);
                padding: 4px;
                background-color: var(--states-warning-lightest);
            }

            .tk-large {
                border: 1px solid;
                border-radius: var(--radius-l);
                padding: 6px;
                background-color: var(--states-warning-lightest);
            }
        }
    }
    &.tk-white {
        color: var(--secondary-sub-base);
        &.tk-icon-card {
            border-color: var(--secondary-light);
            .tk-small {
                border: 1px solid;
                border-radius: var(--radius-s);
                padding: 2px;
                background-color: var(--secondary-lightest);
            }

            .tk-base {
                border: 1px solid;
                border-radius: var(--radius-m-base);
                padding: 4px;
                background-color: var(--secondary-lightest);
            }

            .tk-large {
                border: 1px solid;
                border-radius: var(--radius-l);
                padding: 6px;
                background-color: var(--secondary-lightest);
            }
        }
    }
}
