tk-icon {
  display: inline-flex;
}

.tk-icon {
  &[class*="material-symbols"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
  }

  &.tk-icon-xsmall {
    font-size: var(--sign-xsmall-icon-size);
  }

  &.tk-icon-small {
    font-size: var(--sign-small-icon-size);
  }

  &.tk-icon-base {
    font-size: var(--sign-base-icon-size);
  }

  &.tk-icon-medium {
    font-size: var(--sign-base-icon-size);
  }

  &.tk-icon-large {
    font-size: var(--sign-large-icon-size);
  }

  &.tk-icon-xlarge {
    font-size: var(--sign-xlarge-icon-size);
  }

  &.tk-icon-xxlarge {
    font-size: var(--sign-2xlarge-icon-size);
  }

  &.tk-icon-primary {
    color: var(--primary-dark);
  }

  &.tk-icon-secondary {
    color: var(--secondary-dark);
  }

  &.tk-icon-neutral {
    color: var(--background-dark);
  }

  &.tk-icon-info {
    color: var(--states-info-dark);
  }

  &.tk-icon-success {
    color: var(--states-success-dark);
  }

  &.tk-icon-danger {
    color: var(--states-danger-dark);
  }

  &.tk-icon-warning {
    color: var(--states-warning-dark);
  }

  &.tk-icon-white {
    color: var(--secondary-sub-base);
  }

  &.tk-icon-sign {
    background-color: var(--background-lightest);
    border: 1px solid;
    box-sizing: border-box;
    overflow: hidden;

    &.tk-icon-xsmall {
      width: calc(var(--sign-xsmall-icon-size) + var(--sign-xsmall-h-padding) * 2);
      height: calc(var(--sign-xsmall-icon-size) + var(--sign-xsmall-v-padding) * 2);
      border-radius: var(--sign-xsmall-radius);
      padding: var(--sign-xsmall-v-padding) var(--sign-xsmall-h-padding);
    }

    &.tk-icon-small {
      width: calc(var(--sign-small-icon-size) + var(--sign-small-h-padding) * 2);
      height: calc(var(--sign-small-icon-size) + var(--sign-small-v-padding) * 2);
      border-radius: var(--sign-small-radius);
      padding: var(--sign-small-v-padding) var(--sign-small-h-padding);
    }

    &.tk-icon-base {
      width: calc(var(--sign-base-icon-size) + var(--sign-base-h-padding) * 2);
      height: calc(var(--sign-base-icon-size) + var(--sign-base-v-padding) * 2);
      border-radius: var(--sign-base-radius);
      padding: var(--sign-base-v-padding) var(--sign-base-h-padding);
    }

    &.tk-icon-medium {
      width: calc(var(--sign-base-icon-size) + var(--sign-base-h-padding) * 2);
      height: calc(var(--sign-base-icon-size) + var(--sign-base-v-padding) * 2);
      border-radius: var(--sign-base-radius);
      padding: var(--sign-base-v-padding) var(--sign-base-h-padding);
    }

    &.tk-icon-large {
      width: calc(var(--sign-large-icon-size) + var(--sign-large-h-padding) * 2);
      height: calc(var(--sign-large-icon-size) + var(--sign-large-v-padding) * 2);
      border-radius: var(--sign-large-radius);
      padding: var(--sign-large-v-padding) var(--sign-large-h-padding);
    }

    &.tk-icon-xlarge {
      width: calc(var(--sign-xlarge-icon-size) + var(--sign-xlarge-h-padding) * 2);
      height: calc(var(--sign-xlarge-icon-size) + var(--sign-xlarge-v-padding) * 2);
      border-radius: var(--sign-xlarge-radius);
      padding: var(--sign-xlarge-v-padding) var(--sign-xlarge-h-padding);
    }

    &.tk-icon-xxlarge {
      width: calc(var(--sign-2xlarge-icon-size) + var(--sign-2xlarge-h-padding) * 2);
      height: calc(var(--sign-2xlarge-icon-size) + var(--sign-2xlarge-v-padding) * 2);
      border-radius: var(--sign-2xlarge-radius);
      padding: var(--sign-2xlarge-v-padding) var(--sign-2xlarge-h-padding);
    }

    &.tk-icon-primary {
      border-color: var(--primary-sub-base);
    }

    &.tk-icon-secondary {
      border-color: var(--secondary-sub-base);
    }

    &.tk-icon-neutral {
      border-color: var(--background-sub-base);
    }

    &.tk-icon-info {
      border-color: var(--states-info-sub-base);
    }

    &.tk-icon-success {
      border-color: var(--states-success-sub-base);
    }

    &.tk-icon-danger {
      border-color: var(--states-danger-sub-base);
    }

    &.tk-icon-warning {
      border-color: var(--states-warning-sub-base);
    }

    &.tk-icon-white {
      border-color: var(--secondary-light);
    }
  }
}
