@use '../../global/sass/mixins' as *;

tk-dropdown {
  display: inline-block;
}

.tk-dropdown-container {
  position: relative;

  .tk-dropdown-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: max-content;
    max-height: 300px;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid var(--border-light);
    background: var(--static-light);
    box-shadow: var(--effect-1-default-sm);
    font-family: var(--family-body);

    .tk-dropdown-item-holder {
      margin: 8px;
      overflow-y: auto;
      @include takeoff-scrollbar;

      .tk-dropdown-group-label {
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--text-dark);
        font-size: var(--desktop-body-xs-size);
        padding: 0px 8px;

        label {
          white-space: nowrap;
        }

        .line {
          width: 100%;
          height: 1px;
          background-color: var(--background-light);
        }
      }

      .tk-dropdown-item {
        color: var(--text-darkest);
        border-radius: 8px;
        padding: var(--dropdown-items-basic-base-v-padding) var(--dropdown-items-basic-base-h-padding, 8px);

        &.left {
          text-align: left;
        }

        &.center {
          text-align: center;
        }

        &.right {
          text-align: right;
        }

        &:hover,
        &[data-active='true'] {
          cursor: pointer;
          background: var(--background-lightest);
        }

        &.disabled {
          color: var(--text-dark);
          pointer-events: none;
        }
      }
    }
  }

  &.large {
    .tk-dropdown-panel {
      .tk-dropdown-item-holder {
        max-height: 240px;

        .tk-dropdown-item {
          font-family: var(--desktop-body-m-base-font);
          font-size: var(--desktop-body-m-base-size);
          line-height: var(--desktop-body-m-base-line-height);
          padding: 8px 8px;
        }
      }
    }
  }

  &.base {
    .tk-dropdown-panel {
      .tk-dropdown-item-holder {
        max-height: 216px;

        .tk-dropdown-item {
          font-family: var(--desktop-body-s-font);
          font-size: var(--desktop-body-s-size);
          line-height: var(--desktop-body-s-line-height);
          padding: 8px 8px;
        }
      }
    }
  }

  &.small {
    .tk-dropdown-panel {
      .tk-dropdown-item-holder {
        max-height: 180px;

        .tk-dropdown-item {
          font-family: var(--desktop-body-xs-font);
          font-size: var(--desktop-body-xs-size);
          line-height: var(--desktop-body-xs-line-height);
          padding: 6px 8px;
        }
      }
    }
  }
}
